@page "/login"
@layout LoginLayout
@inject HttpClient http
@inject SupraAppWeb.Auth.ILoginService loginService
@using SupraAppWeb.Models;
@using Newtonsoft.Json;
@using System.Text;


<br />
<MudText Typo="Typo.h4" GutterBottom="true">Bienvenido</MudText>
<br />

<MudTextField T="string" @bind-Value="@Email" Label="Usuario" Variant="Variant.Outlined" Class="my-6"></MudTextField>

<MudTextField @bind-Value="@Password" Label="Contraseña" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="PassHidden" Class="my-6" />

<MudSelect T="string" Label="Compañía" Variant="Variant.Outlined">
    <MudSelectItem Value="@("SupraSistemas SA de CV")" />
    <MudSelectItem Value="@("Glipsa")" />
    <MudSelectItem Value="@("Alianza")" />
</MudSelect>
<br />
<div Class="d-flex justify-space-between align-center">
    <MudLink Href="/" Style="text-align:center">¿Olvidaste tu contraseña?</MudLink>
</div>
<br />
<br />

<MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/" Size="Size.Large" FullWidth="true" @onclick="doLogin">Ingresar</MudButton>

@code {
    string Password { get; set; } = "SERP@Sistemas.2016";
    string Email { get; set; } = "cmunoz@supra-sistemas.com";
    bool PasswordVisibility;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void PassHidden()
    {
        if (PasswordVisibility)
        {
            PasswordVisibility = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            PasswordVisibility = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private UserInfo userInfo = new UserInfo();

    private async Task doLogin()
    {
        userInfo.Email = Email;
        userInfo.Password = Password;

        var settings = new JsonSerializerSettings { DateFormatString = "yyyy-MM-ddTHH:mm:ss" };
        var stringData = JsonConvert.SerializeObject(userInfo, settings);
        var content = new StringContent(stringData, Encoding.UTF8, "application/json");

        var result = await http.PostAsync("https://supra.carlosomar.mx/api/Usuarios/Login", content);

        UserToken userToken = await result.Content.ReadFromJsonAsync<UserToken>();
        await loginService.Login(userToken.Token);
    }
}