@page "/formulario/{CodeURL}"

@inject HttpClient httpClient

@inject HttpClient _httpClient;
        <MudTabs Outlined="true" Position="@Position" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            <MudTabPanel Text="Formulario 1">

                <div class="col-md-12">
                        <MudForm>
                            <MudTextField @bind-Value="referencia"
                                          Immediate="true"
                                          Label="Referencia" />
                            <MudTextField @bind-Value="avisos"
                                          Immediate="true"
                                          Label="Avisos" />
                            <MudTextField @bind-Value="cliente"
                                          Immediate="true"
                                          Label="Cliente" />
                            <MudTextField @bind-Value="agencia"
                                          Immediate="true"
                                          Label="Agencia Aduanal" />
                            <MudTextField @bind-Value="moneda"
                                          Immediate="true"
                                          Label="Moneda" />
                            <MudTextField @bind-Value="cambio"
                                          Immediate="true"
                                          Label="Tipo de Cambio" />
                            <MudTextField @bind-Value="alta"
                                          Immediate="true"
                                          Label="Fecha de Alta" />
                            <MudTextField @bind-Value="facturar"
                                          Immediate="true"
                                          Label="Facturar a" />
                            <MudTextField @bind-Value="ejecutivo"
                                          Immediate="true"
                                          Label="Ejecutivo" />
                            <MudTextField @bind-Value="supervisor"
                                          Immediate="true"
                                          Label="Supervisor" />
                            <MudTextField @bind-Value="cSupervisor"
                                          Immediate="true"
                                          Label="Clave Supervisor" />
                            <MudTextField @bind-Value="cCostos"
                                          Immediate="true"
                                          Label="Centro de Costos" />
                        </MudForm>
                    
    
    <MudTabs Outlined="true" Position="@Position2" Rounded="true" Border="true"
             ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
        <MudTabPanel Text="Tabla 1">
            <MudTable Items="@Elements" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" SortLabel="Sort By" Filter="new Func<EntidadFederativa, bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1" FixedHeader="@fixed_header"Height="@(fixed_header ?"400px":"")">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Entidades Federativas</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString1" Placeholder="Búsqueda" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh><MudTableSortLabel SortBy="new Func<EntidadFederativa, object>(x=>x.Codigo)">Código</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<EntidadFederativa, object>(x=>x.Nombre)">Nombre</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<EntidadFederativa, object>(x=>x.NombreOficial)">Nombre Oficial</MudTableSortLabel></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Código">@context.Codigo</MudTd>
                    <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
                    <MudTd DataLabel="Nombre Oficial">@context.NombreOficial</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>


        </MudTabPanel>
        <MudTabPanel Text="Tabla 2">
            <MudText>Tabla 2</MudText>
        </MudTabPanel>
        <MudTabPanel Text="Tabla 3">
            <MudText>Tabla 3</MudText>
        </MudTabPanel>
    </MudTabs>
    </div>



    </MudTabPanel>
    <MudTabPanel Text="Formulario 2">
        <MudText>Form 2</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Formulario 3">
        <MudText>Form 3</MudText>
    </MudTabPanel>
    </MudTabs>


    @code{
        [Parameter]
        public string CodeURL { get; set; }

        //Fixed header
        bool fixed_header = true;

        //Posicion de pestañas
        public Position Position { get; set; } = Position.Top;
        public Position Position2 { get; set; } = Position.Top;


        // Datos para el formulario
        string referencia = "A2L0213258";
        string avisos = "";
        string cliente = "PRODUCTOS ALIMENTOS SUPER";
        string agencia = "";
        string moneda = "Pesos";
        string cambio = "19.8907";
        string alta = "16/08/2021";
        string facturar = "";
        string ejecutivo = "José Juan García Bautista";
        string supervisor = "José Juan García Bautista";
        string cSupervisor = "APF051894";
        string cCostos = "Transportes YOLO";

        // Datos para tabla
        private bool dense = false;
        private bool hover = true;
        private bool striped = false;
        private bool bordered = false;
        private string searchString1 = "";
        private string searchString2 = "";
        private EntidadFederativa selectedItem1 = null;
        //private EntidadFederativa selectedItem2 = null;
        private HashSet<EntidadFederativa> selectedItems = new HashSet<EntidadFederativa>();

        private IEnumerable<EntidadFederativa> Elements = new List<EntidadFederativa>();

        protected override async Task OnInitializedAsync()
        {
            Elements = await httpClient.GetFromJsonAsync<List<EntidadFederativa>>("sample-data/" + CodeURL + ".json");
        }

        private bool FilterFunc1(EntidadFederativa element) => FilterFunc(element, searchString1);
        private bool FilterFunc2(EntidadFederativa element) => FilterFunc(element, searchString2);

        private bool FilterFunc(EntidadFederativa element, string searchString)
        {
            if (string.IsNullOrWhiteSpace(searchString))
                return true;
            if (element.Codigo.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (element.Nombre.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (element.NombreOficial.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;

            return false;
        }
    }
